.header-container {
  width: 100%;
  display: flex;
  background-color: #d9b99b;
  padding: 29px 0;
  justify-content: flex-end;
  gap: 1rem;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-left {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.login-btn {
  height: 100%;
  background: none;
  padding: 0 2rem;
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 426px) {
  .header-container {
    padding: 1rem 0;
    gap: 2rem;
  }

  .header-left {
    justify-content: flex-end;
  }

  .login-btn {
    font-size: 12px;
    padding: 0;
    padding-right: 1rem;
  }
}
