.header-container {
  width: 100%;
  display: flex;
  background-color: #d9b97e;
  padding: 29px 0;
  justify-content: flex-end;
  gap: 1rem;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
}
.input {
  padding: 1rem;
  border-radius: 2rem;
}
.input:focus {
  width: 100%;
}
.search-btn {
  background: none;
  border: none;
  margin-left: -70px;
  padding: 0;
}
.search-img {
  height: 20px;
}
.sort {
  margin-left: 2rem;
  background-color: #e3d9c7;
  border: 2px solid #f6f6f6;
}
.login-btn {
  height: 100%;
  background: none;
  padding: 0 2rem;
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

@media screen and (min-width: 426px) {
  .input {
    width: 40%;
    transition: 2s;
  }
  .input:focus {
    width: 70%;
  }
}
