.form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}
.form-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  gap: 1rem;
  padding: 2.2rem;
}
.form-group-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  gap: 1rem;
  padding: 0 2.2rem 2.2rem 2.2rem;
}

.form-group:last-of-type {
  border-bottom: none;
}

.form-group input {
  background: rgba(142, 140, 140, 0.506);
}

.form-group:last-of-type {
  display: flex;
  flex-direction: column;
}
.form-submit-btn {
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
}
.upload-img {
  height: 100px;
}

.select-authors-dropdown {
  width: 100%;
  height: 50%;
}
