.form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow: scroll;
  gap: 2rem;
  padding: 3rem;
}
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.form-group-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 2.2rem 2.2rem 2.2rem;
}

.form-group:last-of-type {
  border-bottom: none;
}

.form-group input {
  background: rgba(142, 140, 140, 0.506);
}

.form-submit-btn {
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
}
.upload-img {
  height: 125px;
}

.select-authors-dropdown {
  width: 100%;
}

.add-author-form {
  margin: 1rem 0;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 0 2rem 2rem 0;
  z-index: 2;
  gap: 1rem;
}

.add-btn {
  align-self: flex-end;
  width: 20%;
}

.bottom {
  display: flex;
  gap: 1rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5rem;
}

@media screen and (max-width: 426px) {
  .form-group-column {
    padding: 0 2.2rem;
  }
  .form-wrapper{
    padding: 1rem 2rem;
  }

  .bottom {
    flex-direction: column;
    gap: 2rem;
  }

  .left, .right {
    width: 100% ;
    gap: 2rem
  }

  .add-author-form {
    align-items: center;
    padding: none;
  }

  .close-btn {
    align-self: flex-end;
  }

  .add-btn {
    align-self: center;
  }
}