.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
  height: 100px;
  background: #d9b97e;
  bottom: 0;
  position: sticky;
}
.button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}
.btn-holder {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-holder:active {
  background-color: #bf8845;
}
.sidebar {
  position: absolute;
  z-index: 99;
  background-color: rgb(152, 107, 89);
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
.back-btn {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}

@media screen and (min-width: 426px) {
  .footer {
    display: none;
  }
}
