.header {
  display: none;
}
@media only screen and (min-width: 426px) {
  .header {
    background-color: #d9b97e;
    width: 230px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .btn-holder {
    padding: 2rem 0;
    background-color: #bf8845;

    border-bottom: 2px solid black;
  }
  .btn-holder:active {
    background-color: #592e15;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
  }
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
