.header {
  display: none;
}
@media only screen and (min-width: 426px) {
  .header {
    width: 230px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .btn-holder {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    justify-content: center;
  }
  .btn-holder:active {
    background-color: #f0ebe781;
  }
  .btn-holder button {
    background: none;
    border: none;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
  }
  .add-new-book {
    width: 50%;
    text-transform: uppercase;
  }
}
