.table-wrapper {
    padding: 4rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-height: 90vh;
    overflow: scroll;
}

th, td {
    padding: 6px;
    text-align: center;
}

.return-btn {
    padding: 0.5rem 1rem;
    background: #d9b99b;
}

@media screen and (max-width: 426px) {
    .table-wrapper {
        width: 100%;
    }

    .first-name {
        display: none;
    }
}