.book-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.carousel-root {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    /* width: 60%; */
}

.book-cover {
    object-fit: contain;
}

.book-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book-details-btn {
    padding: 1rem;
}