* {
  margin: 0;
}
.book-holder {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.img-holder {
  box-shadow: 20px 20px 23px #e3d9c7;
  height: 200px;
}
.book-img {
  width: 180px;
  height: 200px;
}
.about-book {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  text-align: end;
}
label {
  font-weight: bold;
}
